<!DOCTYPE html>
<html>
  <head>
    <title>ACNH Quiz</title>
  </head>
  <body>
    <h1>ACNH Villager Quiz</h1>
    <form action="/quiz" method="post">
      <label for="bday">What is your Bday? (Month Day)</label>
      <input type="text" id="bday" name="bday"><br>

      <label for="personality">What is your personality?</label>
      <input type="text" id="personality" name="personality"><br>

      <label for="animal">What is your favorite animal?</label>
      <input type="text" id="animal" name="animal"><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>